.signup-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; /* background color as needed */
}

.signup-container {
  display: flex;
  max-width: 800px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-left {
  background-image: url('../images/login-img.jpg'); 
  background-size: cover;
  background-position: center;
  border-radius: 10px 0 0 10px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.signup-left h2 {
  margin-bottom: 20px;
}

.signup-left p {
  font-size: 16px;
}

.signup-right {
  padding: 40px;
  width: 50%;
}

.signup-right form div {
  margin-bottom: 15px;
}

.signup-right label {
  display: block;
  margin-bottom: 5px;
}

.signup-right input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-right button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px; /* margin bottom to the button */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-right button:hover {
  background-color: #0056b3;
}

.login {
  text-align: center;
  margin-top: 20px;
}

.login a {
  color: #007bff;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}
