/* Navbar styles */
.navbar {
  background-color: rgba(83, 86, 88, 0.8); /* Adjust transparency here */
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Center the content horizontally */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.logo-text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  margin-right: 25px;
}

.login-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Main content styles */
.home {
  text-align: center;
  margin-top: 20px;
}

.home h1 {
  margin-top: 20px;
  font-size: 36px;
  color: #333;
}

.home-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.home-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}
