.home {
    text-align: center;
    margin-top: 50px;
  }
  
  .search-button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #497bb1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #b12566;
  }
  